<%- include('./partials/header') %>
    <h1>ADD NEW PRODUCT</h1>    
    <form action="/products" method="POST">
        Name: <input type="text" name="name"><br>
        Description: <input type="text" name="description"><br>
        Image: <input type="text" name="img"><br>
        Price: <input type="text" name="price"><br>
        Quantity: <input type="text" name="qty"><br> 
        <input type="submit" value="Add Product">
    </form>
            
<%- include('./partials/footer') %>